/* DIV VIEWER*/
/* div { outline: 1px solid red !important; }*/
/* DIV VIEWER*/

/* formatação padrão de elementos */

button:hover{
    cursor: pointer;
}

div {
    overflow: hidden;
    margin-top: 30px;
}

h1,
h2 {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.015em;
    color: #000000;
    font-size: 1em;
    text-align: center;
}

a {
    color: #0F68B9;
}


ul {
    list-style-type: none;
    text-align: left;

}

ul li::before {
    content: "–"; 
  }

p,
li,
td {
    font-family: 'Source Sans Pro', sans-serif;
    color: #494949;
    font-size: 0.8em;
}

button {
    margin-top: 5%;
    background-color: #F77B2F;
    color: #FFFFFF;
    border-style: none;
    padding: 5%;
    width: 90%;
    height: 10%;
    border-radius: 30px
}

/* formatação padrão de elementos */

/*declarações globais */

/*cores*/

.grey {
    background-color: #FAFAFA;
}

.grey-darker {
    background-color: #CCCCCC;
}

.color-black {
    color: #000000;

}
/*cores*/

/*tipografias*/

.font-dosis {
    font-family: 'Dosis';
}

.font-source {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

.font-700 {
    font-weight: 700;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.w-590 {
    width: 590px;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

.w-480 {
    text-align: center;
    width: 480px;
    margin-right: 0px;
    margin-left: 0px;
}

.text-align-center {
    text-align: center;
}
/*tipografias*/

/*div classe genérica*/

.centralized-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/*div classe genérica*/

/*declarações globais */

#table-top {
    border-spacing: 0.5em;
    padding-left: 8em;
    overflow-x: auto;
}

/* bordas*/

.bottom-border {
    border-bottom: 1px solid #DCDCDC;
}

.top-border {
    border-top: 1px solid #DCDCDC;
}

/* bordas*/

/* primeira div*/

/* div-texto*/
.sub-div {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}
/* div-texto*/

/* imagem*/

/* OBS: decidi optar a imagem montando ela ao invés de baixar a versão completa, 
por isso as classes*/

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 63.75%;
    background-image: url("images/image 4.png");
    background-size: cover;
}

#div-image-bottom {
    position: absolute;
    top: 34.3%;
    right: 0;
    width: 14%;
    height: 55%;
}

#div-image-top {
    position: absolute;
    top: -16%;
    right: 0;
    width: 11%;
    height: 17%;
}

#img-6 {
    position: absolute;
    top: 0;
    right: 0%;
    width: 24%;
    height: 24.9%;
    mix-blend-mode: darken;
}

#img-other {
    position: absolute;
    width: 30.5%;
    top: 25%;
    left: 8%;
    mix-blend-mode: darken;
}


#img-7 {
    position: absolute;
    width: 24%;
    top: 50%;
    left: 76.3%;
    mix-blend-mode: darken;
}
/*imagem/

/* primeira div*/

/* div menor entre a primeira e a segunda div grandes*/

.inline-div {
    padding-top: 5%;
    margin-left: 5%;
    margin-top: -5%;
    margin-bottom: -5%;
    align-items: center;
    vertical-align: middle
}

.inline-div p {
    display: inline-block;
    vertical-align: middle;
}


/* div menor entre a primeira e a segunda div grandes*/

/* div dos números*/
.number-text {
    color: #F77B2F;
    font-size: 2.5em;
    text-align: center;
}


.div-number {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    margin-top: 3%;
}

/* div dos números*/

/* hr tabela*/

.hr-price-black {
    border: 1px solid #000000;
}

.hr-price-divider {
    border: 1px solid #DCDCDC;
}

/* hr tabela*/

/*oitava div*/
#div-last {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*oitava div*/

/* MEDIA QUERIE*/

@media screen and (min-width: 1024px) {

/* formatação padrão de elementos */
h1 {
    font-size: 2em;
}

ul {
    padding: 0px;
    margin: 0px;
}

table {

    width: 80%;
}

td,
th {
    max-width: 20%;
}

div {
    overflow: hidden;
    margin-top: 80px;
}
/* formatação padrão de elementos */

/* classes genéricas*/

.text-align-left {
    text-align: left;
    width: 100%;
    margin: 0;
}

.sub-title {
    font-size: 15px;
}

/* classes genéricas*/


/* primeira div */

#top-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 33.4vw;
    margin-top: 5%;
    justify-content: center;
}


/* div do texto*/

.sub-div {
    width: 45%;
    height: 100%;
    align-items: center;
    text-align: left;
    margin: auto;
}

.sub-div h1,
p,
button {
    margin-left: 15%;
    margin-right: 20%;
}

.sub-div h1 {
    margin-top: 10%;
}

.sub-div button {
    height: 50px;
    width: 60%;
    margin-bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* div do texto*/

/* div da imagem*/
.image-container {
    width: 55%;
    padding-bottom: 10%;
    padding-top: 14%;
    height: 10vw;
    margin: auto;

}
/* div da imagem*/

/* primeira div*/

/* div menor entre a primeira e a segunda div grandes*/

.margin-inline-p {
    margin: 1px;
}

/* div menor entre a primeira e a segunda div grandes*/

/* div de texto na segunda div*/

#compress-div {
        margin-top: auto;
        width: 50%;
    }

/* div de texto na segunda div*/

/*terceira div*/

#duple-div-father {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

    }

.duple-div-son {
        width: 45%;
        margin: 0 2%;
        text-align: left;
        margin: 5%;
    }
/*terceira div*/


/*quarta div*/

/*div filha com texto*/


#div-number-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.div-number-margin-top {
    margin-top: -50%;
    margin: 0;


}

.div-number-margin-bottom {
    margin-bottom: -5%;

}


#div-number-footer {
    width: 70%;
}


/*div filha com texto*/

/*div dos números*/

.div-number {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #F2F2F2;
    width: 20%;
    margin-bottom: 3%;
}

#text-number-div {
    align-items: center;
    display: flex;
    text-align: center;
}

#div-number-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#div-number-bottom {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*div dos números*/

/*quarta div*/

/*quinta div*/

#duple-div-father-bottom {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.duple-div-father-son {
    width: 45%;
    margin: 0 2%;
    text-align: left;
    margin: 5%;

}
/*quinta div*/

/*sexta div*/
#table-top {
    padding-left: 0em;
}

.table-title {
    text-align: left;
    padding-left: 15%;
}
/*sexta div*/


/*oitava div*/
#div-last {
    margin-bottom: 5%;
}

#div-last button {
    width: 380px;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 1%;
}
/*oitava  div*/

}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
 
/* formatação padrão de elementos */
h1 {
    font-size: 2em;
}

ul {
    padding: 0px;
    margin: 0px;
}

table {

    width: 80%;
}

td,
th {
    max-width: 20%;
}

div {
    overflow: hidden;
    margin-top: 80px;
}
/* formatação padrão de elementos */

/* classes genéricas*/

.text-align-left {
    text-align: left;
    width: 100%;
    margin: 0;
}

.sub-title {
    font-size: 15px;
}

/* classes genéricas*/


/* primeira div */

#top-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 33.4vw;
    margin-top: 5%;
    justify-content: center;
}


/* div do texto*/

.sub-div {
    width: 45%;
    height: 100%;
    align-items: center;
    text-align: left;
    margin: auto;
}

.sub-div h1,
p,
button {
    margin-left: 15%;
    margin-right: 20%;
}

.sub-div h1 {
    margin-top: 10%;
}

.sub-div button {
    height: 50px;
    width: 60%;
    margin-bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* div do texto*/

/* div da imagem*/
.image-container {
    width: 55%;
    padding-bottom: 10%;
    padding-top: 14%;
    height: 10vw;
    margin: auto;

}
/* div da imagem*/

/* primeira div*/

/* div menor entre a primeira e a segunda div grandes*/

.margin-inline-p {
    margin: 1px;
}

/* div menor entre a primeira e a segunda div grandes*/

/* div de texto na segunda div*/

#compress-div {
        margin-top: auto;
        width: 50%;
    }

/* div de texto na segunda div*/

/*terceira div*/

#duple-div-father {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

    }

.duple-div-son {
        width: 45%;
        margin: 0 2%;
        text-align: left;
        margin: 5%;
    }
/*terceira div*/


/*quarta div*/

/*div filha com texto*/


#div-number-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.div-number-margin-top {
    margin-top: -50%;
    margin: 0;


}

.div-number-margin-bottom {
    margin-bottom: -5%;

}


#div-number-footer {
    width: 70%;
}


/*div filha com texto*/

/*div dos números*/

.div-number {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #F2F2F2;
    width: 20%;
    margin-bottom: 3%;
}

#text-number-div {
    align-items: center;
    display: flex;
    text-align: center;
}

#div-number-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#div-number-bottom {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*div dos números*/

/*quarta div*/

/*quinta div*/

#duple-div-father-bottom {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.duple-div-father-son {
    width: 45%;
    margin: 0 2%;
    text-align: left;
    margin: 5%;

}
/*quinta div*/

/*sexta div*/
#table-top {
    padding-left: 0em;
}

.table-title {
    text-align: left;
    padding-left: 15%;
}
/*sexta div*/


/*oitava div*/
#div-last {
    margin-bottom: 5%;
}

#div-last button {
    width: 380px;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 1%;
}
/*oitava  div*/

}

@media screen and (min-width: 1500px) {

/*Controla o espaçamento das DIVS para não ficarem tão separadas*/

div {
        overflow: hidden;
        margin-top: 100px;
    }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {

    
/*Elimina o Padding para centralizar a Table */

#table-top {
    padding-left: 0em;
}
 
/*Controla o tamanho dos botões para ficarem mais proporcionais a resolução*/

button {
    width: 380px;
    height: 50px;
}
}